{% for current_toc in site.tocs %}
  {% if found_toc %}
    {% break %}
  {% else %}
    {% assign toc=site.data[current_toc] %}
    {% include tocsearch.html tree=toc.toc toc=toc %}
  {% endif %}
{% endfor %}

<!Doctype html>
<html id="docs" class="{{ toc.bigheader }}">

{% include head.html %}

<body>

{% include deprecation-warning.html %}

<section id="encyclopedia">
  <div id="docsContent" style="width: 100%;">
        {% unless page.notitle %}
          <h1>{{ page.title }}</h1>
        {% endunless %}

        {{ content }}
    </div>
</section>

</body>
</html>
